body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    /* user-select: none; */
}
.container {
    max-width: 1100px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 5rem auto 0 auto;
    gap: 1.5rem;
   
}

img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.card1, .card2, .card3 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.card-text {
    padding: 1rem 1.5rem;
    word-break: break-all;
    flex: 1;
    line-height: 1.7;
}
.card-title {
    text-align: center;
}
/* p::selection {
    color: gold;
    background-color: rgb(201, 201, 201);
} */
button {
    display: block;
    width: 50%;
    padding: 1rem;
    border: none;
    font-size: 14px;
    background-color:  #FFC300;
    border-radius: 5px;
    margin: 0 auto .5rem auto;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: rgb(197, 194, 194);
    color: #ff5733;
}

@media (max-width: 1219px) {
    body {
        margin-bottom: 5rem;
    }
}

@media (max-width: 380px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}